.container {
  background-color: var(--file-upload-preview-background-color);
  position: relative;
}

.container--light {
  --file-upload-preview-background-color: $light-color-BG20;
}

.container--dark {
  --file-upload-preview-background-color: $dark-color-BG20;
}
