.container {
  background-color: var(--pixelator-container-background-color);
  position: relative;

  &.container--light {
    --pixelator-container-background-color: $light-color-BG10;
  }

  &.container--dark {
    --pixelator-container-background-color: $dark-color-BG10;
  }
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
